.card{
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    width: 20vw;
    border-radius: 12px;
    font-family: 'Varela Round', sans-serif;
}
.author{
    color: rgb(71, 165, 9);
}
.card-img{
    border-radius: 12px;
    padding: 10px;
}
.title{
    text-align: center;
}
.date{
    color: rgb(248, 42, 248);
  
}
.btn1{
    cursor: pointer;
    background-color: teal;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 9px;
   
}

.btn1:hover{
    color: black;
    background-color: rgb(69, 241, 241);
}