.card{
    font-family: 'Smooch Sans', sans-serif;
}
.author{
    padding: 10px;
    color: rgb(71, 165, 9);
}
.card-img-top{
    border-radius: 12px;
    padding: 10px;
}
.card-title{
    text-align: center;
}
.card-text1{
    color: rgb(248, 42, 248);
  
}
.btn1{
    cursor: pointer;
    background-color: teal;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 9px;
   
}
.btn1:hover{
    color: black;
}   